@model OpenGate.Entidades.nomenclaturadhl

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHD.cshtml";
}

<h2>Details</h2>

<div>
    <h4>nomenclaturadhl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipocheckpoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipocheckpoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusherbalife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusherbalife)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
