@model OpenGate.Entidades.servicios

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutIT.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- page content -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Editar <small>Servicios</small>&nbsp; <input type="submit" value="Save" class="btn btn-primary" /></h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.fecharegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" id="fecharegistro" name="fecharegistro" value="@Model.fecharegistro.Value.ToShortDateString()" class="form-control" autocomplete="off" />
                                @Html.ValidationMessageFor(model => model.fecharegistro, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.cctv, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.cctv, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.cctv, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.telefonia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.telefonia, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.telefonia, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.alarmas, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.alarmas, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.alarmas, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.antivirus, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.antivirus, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.antivirus, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.respaldoaplicaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.respaldoaplicaciones, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.respaldoaplicaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.usuarioswifi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.usuarioswifi, new { htmlAttributes = new { @class = "icheckbox_flat-green checked flat" } })
                                    @Html.ValidationMessageFor(model => model.usuarioswifi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.internetcarga, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.internetcarga, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.internetcarga, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.internetdescarga, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.internetdescarga, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.internetdescarga, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
}

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>

<!-- iCheck -->
<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

<!-- JQuery UI -->

<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
    $(function () {
        $("#fecharegistro").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
    });
</script>