@model OpenGate.Entidades.statusproveedor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPagoProveedores.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Estado Proveedores <small>Crear</small></h2> &nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    <a href="@Url.Action("Index", "statusproveedors")" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i> Cancelar</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="control-label col-md-2">Descripcion</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>