
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutIT.cshtml";
}

@using (Html.BeginForm("Create", "empleados", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2> Empleados <small>Create</small></h2> &nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    <a class="btn btn-dark" href="@Url.Action("Index")"> <i class="fa fa-reply"></i> Cancelar</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal form-label-left input_mask" novalidate>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Nombre(s) <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nombre" name="nombre" class="form-control" placeholder="Nombres (s)" required="required" type="text" data-validate-length-min="6"/>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Apellido Paterno <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="ap" name="ap" class="form-control" placeholder="Apellido Paterno" required="required" type="text" data-validate-length-range="20" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Apellido Materno <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="am" name="am" class="form-control" placeholder="Apellido Materno" required="required" type="text" data-validate-length-range="6" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Fecha Ingreso <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="fhIngreso" name="fhIngreso" class="form-control" placeholder="Fecha de Ingreso" required="required" type="text" data-validate-length-range="6" data-trigger="keyup" autocomplete="off" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Direccion <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="direccion" name="direccion" class="form-control" placeholder="Direccion" required="required" type="text" data-validate-length-range="6" data-trigger="keyup" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Celular <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="celular" name="celular" class="form-control" placeholder="Celular" required="required" type="text" data-validate-length-range="6" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Telefono <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="telefono" name="telefono" class="form-control" placeholder="Telefono" required="required" type="text" data-validate-length-range="6" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Area <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("AreaId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Puesto <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("PuestoId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Foto <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" id="postedFile" name="postedFile" class="form-control" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Usuario <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("AspNetUsers_Id", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/Scripts")
@Scripts.Render("~/Custom")
@Scripts.Render("~/JQueryUI")

<script src="~/vendors/validator/validator.js"></script>

<script>
    $(function () {
        $("#fhIngreso").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
    });
</script>